*{
    padding: 0;
    margin: 0;
}
head{
    background-color: #404040;
  }
  body {
    margin: 0;
    background-color: #D3D3D3;
  }
.banner1{
    background-image:
    linear-gradient(to bottom, rgb(245, 246, 252, 0.2), rgba(0, 0, 0)),
    url("../Assets/bann1.jpg");
    position: relative;
    max-width: 100%;
    height: 25vw;
    background-size: cover;
    color: white;
    padding: 20px;
    }
#inside{
    position: absolute;
    max-width: 50%;
    left: 25%;
    top: 6vw;
}

#inside2{
    position: absolute;
    max-width: 30%;
    left: 35%;
    top: 15vw;
}

.text-container h1{
    font-size: 5vw;
    padding-bottom: 5%;
    text-align: center;
    color: white;
    font-family: BebasNeue;
}

.text-container h2{
    font-size: 3vw;
    padding-bottom: 5%;
    text-align: center;
    color: white;
    font-family: BebasNeue;
}

.text-container p{
    font-size: 1.5vw;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: ropasans;
}

.content{
    background-color: black;
    height: 100%;
}

.text-container{
    margin: auto;
    max-width: 80%;
}

.enemyimage{
    max-width: 20%;
    left: 10%;
}
.banner2{
    background-image:
    linear-gradient(to bottom, rgb(245, 246, 252, 0.1), rgba(0, 0, 0)),
    url("../Assets/bann2.jpg");
    position: relative;
    max-width: 100%;
    height: 25vw;
    background-size: cover;
    color: white;
    padding: 40px;
}

#imginsidetext{
    position: absolute;
    max-width: 25%;
    left: 75%;
    top: 100%;
}
#enemytext{
    padding-right: 20%;
}

.banner3{
    background-image:
    linear-gradient(to bottom, rgb(245, 246, 252, 0.1), rgba(0, 0, 0)),
    url("../Assets/newmap.jpg");
    position: relative;
    max-width: 100%;
    height: 25vw;
    background-size: cover;
    color: white;
    padding-top: 10%;
    }

    footer {
        font-family: BebasNeue;
        padding: 3%;
        text-align: center;
        background-color: #333;
        color: white;
        font-size: 30px;
      }
      
      footer img#ubipost{
        max-width: 15%;
      }
      
      footer img#logor7{
        max-width: 15%;
      }
          
@media screen and (max-width: 850px) {
    .banner1{
        margin-top: 6%;
    }
    footer{
        padding: 7%;
        font-size: 15px;
      }
      
      footer img#ubipost{
        max-width: 30%;
      }
      
      footer img#logor7{
        max-width: 30%;
      }

    #display-image{
        padding-top: 6%;
    }

    .text-container p{
        font-size: 2vw;
        padding: 10px;
        text-align: center;
        color: white;
        font-family: ropasans;
    }
}